* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 960px;
    width: 100%;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;

    &-logo {
        display: flex;
        align-items: center;
        height: 100%;

        &-a {
            &:hover {
                cursor: pointer;
            }

            &__text {
                padding: 0 20px;
                font-size: 13px;
                letter-spacing: -0.1px;
            }
        }
        
    }

    &-contacts {
        display: flex;
        align-items: center;
        height: 100%;
        
        &-list {
            display: flex;
            list-style: none;
            height: 100%;
            margin-right: 0;

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 15px;

                &:hover {
                    color: #FFFFFF;
                    background-color: #3f98a0;
                    cursor: pointer;
                }

                &-a {
                    padding: 0 15px;
                }
            }
        }
    }
}

.title {
    display: flex;
    justify-content: center;
    background-color: #25344b;
    padding-top: 76px;
    padding-bottom: 79px;
    
    &__text {
        color: #FFFFFF;
        font-size: 39px;
        font-weight: 600;
    }
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1e2736;
    height: 49px;

    .container {
        padding-left: 0;
    }

    &-list {
        display: flex;
        list-style: none;
        color: #FFFFFF;
        font-size: 13px;
        height: 100%;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            &:hover {
                background-color: #797d86;
                cursor: pointer;
            }

            &:visited {
                background-color: #797d86;
            }

            &-a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 24px;
                text-decoration: none;
                height: 100%;

                &:active {
                    color: #FFFFFF;
                }

                &:visited {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .container {
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 12px;
    }

    &-breadcrumbs {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 22px;
        padding-top: 14px;
        font-size: 13px;

        &__item {
            padding-right: 7px;

            &:last-child {
                color: #b9bfc4;
            }
        }
    }

    &-mission {
        display: flex;
        padding-top: 41px;
        padding-bottom: 30px;

        &-content {
            &__subtitle {
                position: relative;
                padding-bottom: 10px;
                font-size: 31px;
                font-weight: 700;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 82px;
                    height: 1px;
                    background-color: #69afb5;
                    content: '';
                }
            }

            &-p {
                display: flex;
                flex-direction: column;
                padding-top: 18px;
                padding-right: 25px;

                &__text {
                    padding-bottom: 15px;
                    word-spacing: 1px;
                    font-size: 15px;
                }
            }
        }

        &-image {
            padding-top: 3px;

            &__img {
                width: 455px;
                height: 303px;
            }
        }
    }

    &-activity {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 38px;
        width: 100%;
        background-color: #f0f0f0;

        .container {
            justify-content: center;
            padding-right: 5px;
            padding-left: 5px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__subtitle {
                position: relative;
                padding-bottom: 8px;
                font-size: 31px;

                &::after {
                    position: absolute;
                    left: 52px;
                    bottom: 0;
                    width: 81px;
                    height: 1px;
                    background-color: #69afb5;
                    content: '';
                }
            }

            &-blocks {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding-top: 22px;

                &-item {
                    display: flex;
                    max-width: 232px;
                    width: 100%;
                    border: 1px solid #b9bfc4;
                    background-color: #f5f5f5;

                    &-a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        padding-left: 11px;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active {
                            color: #000000;
                        }
        
                        &:visited {
                            color: #000000;
                        }

                        &__img {
                            width: 100px;
                            height: 100px;
                        }

                        &-content {
                            display: flex;
                            flex-direction: column;
                            padding-left: 16px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    &-experience {
        display: flex;
        justify-content: center;
        width: 100%;
        background: url(../img/size_p_5_0.jpg);
        background-size: cover;
        background-position: 50%;

        .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        &-content {
            padding-top: 38px;
            padding-bottom: 25px;
            color: #FFFFFF;

            &__subtitle {
                position: relative;
                padding-bottom: 8px;
                font-size: 31px;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 81px;
                    height: 1px;
                    background-color: #69afb5;
                    content: '';
                }
            }

            &-p {
                max-width: 450px;
                width: 100%;
                padding-top: 16px;
                font-size: 15px;
                font-weight: 500;

                &__text {
                    word-spacing: 1px;
                    padding-bottom: 17px;
                }
            }
        }
    }

    &-practice {
        padding-top: 40px;
        padding-bottom: 44px;

        .container {
            padding-left: 5px;
            padding-right: 0px;
        }

        &-content {
            &__subtitle {
                position: relative;
                padding-bottom: 11px;
                font-size: 32px;
                word-spacing: 1px;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 85px;
                    height: 1px;
                    background-color: #69afb5;
                    content: '';
                }
            }

            &-p {
                padding-top: 17px;

                &__text {
                    padding-bottom: 18px;
                }
            }
        }

        &-arrowbtn {
            position: absolute;
            width: 60px;
            height: 60px;
            border: 1px solid #acacac;
            border-radius: 50%;
            background-color: #585858;
            left: 93%;
            bottom: 42px;

            &::after {
                position: absolute;
                color: black;
                top: 25px;
                left: 22px;
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                box-shadow: 1px -1px 0px 0px #9c9c9c inset;
                transform: rotate(135deg);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1e2736;
    color: #FFFFFF;

    &-content {
        display: flex;
        flex-direction: column;
        padding-top: 38px;

        &-annex {
            display: flex;
            justify-content: space-between;
            padding: 0 119px 45px 11px;
            box-shadow: 0px -1px 0px 0px #a9bfc4 inset;

            &-logo {
                display: flex;
                flex-direction: column;
                font-size: 15px;

                &-a {
                    padding-bottom: 7px;

                    &__img {
                        width: 217px;
                        height: 76px;
                    }

                    &__text {
                        letter-spacing: -0.2px;
                    }
                }
            }

            &-tm {
                display: flex;
                justify-content: space-between;
                max-width: 476px;
                width: 100%;

                &-contacts {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    padding-top: 10px;

                    &__subtitle {
                        position: relative;
                        padding-bottom: 15px;
                        letter-spacing: -0.2px;

                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 40px;
                            height: 2px;
                            background-color: #69afb5;
                            content: '';
                        }
                    }

                    &-list {
                        padding-top: 20px;
                        list-style: none;

                        &-item {
                            padding-bottom: 9px;

                            &-a {
                                text-decoration: none;
                                color: #FFFFFF;

                                &__icon {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }

                &-follow {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    padding-top: 10px;
                    max-width: 178px;
                    width: 100%;

                    &__subtitle {
                        position: relative;
                        padding-bottom: 15px;
                        letter-spacing: -0.2px;

                        &::after {
                            position: absolute;
                            left: 3px;
                            bottom: 0;
                            width: 40px;
                            height: 2px;
                            background-color: #69afb5;
                            content: '';
                        }
                    }

                    &-list {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        padding-top: 20px;
                        font-size: 16px;

                        .btn-github {
                            color: #464e59;

                            &:hover {
                                color: #000000;
                            }
                        }

                        .btn-facebook {
                            color: #777777;

                            &:hover {
                                color: #3b5998;
                            }
                        }

                        .btn-twitter {
                            color: #b9b9b9;

                            &:hover {
                                color: #00acee;
                            }
                        }

                        .btn-in {
                            color: #bfbfbf;

                            &:hover {
                                color: #0e76a8;
                            }
                        }

                        .btn-youtube {
                            color: #808080;

                            &:hover {
                                color: #c4302b;
                            }
                        }
                    }
                }
            }
        }

        &-copyright {
            padding-top: 25px;
            padding-bottom: 15px;
            font-size: 10px;
            font-weight: 600;

            &__text {
                padding: 0 90px;
                text-align: center;
                letter-spacing: .35px;

                &__span {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .container {
        max-width: 768px;
    }
    
    .header {
        &-logo-a__text {
            display: none;
        }
    }

    .main {
        &-mission {
            &-image__img {
                width: 364px;
                height: 242px;
            }
        }

        &-activity {
            &-content-blocks-item {
                max-width: 370px;
                margin-bottom: 15px;
            }

        }

        &-practice {
            &-arrowbtn {
                position: absolute;
                width: 45px;
                height: 45px;
                left: 93%;
                bottom: 42px;
    
                &::after {
                    top: 18px;
                    left: 16px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .footer {
        &-content-annex {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 892px) {
    .container {
        max-width: 684px;
    }

    .main {
        &-mission {
            &-image__img {
                width: 319px;
                height: 212px;
            }
        }

        &-activity {
            &-content-blocks-item {
                max-width: 330px;
            }

        }
    }

    .footer {
        &-content {
            align-items: center;
            &-annex {
                flex-direction: column;
                padding-left: 0;

                &-logo {
                    padding-bottom: 10px;
                }

                &-tm {
                    flex-direction: column;

                    &-contacts {
                        padding: 25px 0;
                    }
                }
            }

            &-copyright__text {
                padding: 0 150px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 544px;
    }

    .header {
        &-contacts-list-item-a__text {
            display: none;
        }
    }

    .nav {
        &-list-item-a {
            padding: 0 10px;
        }
    }

    .main {
        &-activity {
            &-content-blocks-item {
                max-width: 260px;
            }

        }

        &-practice {
            &-arrowbtn {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 576px;
    }

    .title {
        .container {
            justify-content: center;
        }
    }

    .nav {
        height: auto;

        .container {
            padding-right: 0;
        }

        &-list {
            flex-direction: column;
            width: 100%;
            &-item-a {
                padding: 10px;
            }
        }
    }

    .main {
        &-mission {
            .container {
                flex-direction: column;
                align-items: center;
            }

            &-content-p {
                text-align: justify;
                padding-right: 0;
            }

            &-image__img {
                width: 273px;
                height: 182px;
            }
        }

        &-activity {
            &-content-blocks {
                flex-direction: column;
                align-items: center;
            }
        }

        &-experience {
            &-content-p {
                text-align: justify;
            }
        }

        &-practice {
            .container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .footer {
        &-content-copyright__text {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 340px) {
    .header {
        &-contacts-list-item-a {
            padding: 0 10px;
        }
    }
}